<div class="container position-relative">
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner my-2">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mt-5 pt-5">
                            <h1 class="fs-40 fw-700">
                                Malesuada mauris lobortis facilisis
                            </h1>
                            <p class="fw-600 fs-18">Etiam consectetur tortor non ullamcorper rhoncus. Curabitur ultrices urna nisi, et malesuada mauris lobortis facilisis.
                            Aenean sagittis magna a quam viverra, ut scelerisque ex ornare. Ut vel magna libero.</p>

                            <div class="mt-4">
                                <a class="btn btn-primary" href="#" title="">Get Instant Quote</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="../../assets/img/main-banner.png" alt="Banner Image" class="d-block"
                            style="width: 545px" />
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mt-5 pt-5">
                            <h1 class="fs-40 fw-700">
                                Aliquam porttitor cursus quam ultricies
                            </h1>
                            <p class="fw-600 fs-18">liquam interdum risus augue, id rhoncus justo placerat non. Morbi cursus, quam a luctus vestibulum, eros leo cursus
                            lorem, ut commodo ante lacus quis nisl. Praesent quis lectus sit amet arcu euismod vulputate. Nam ex ex, blandit in
                            turpis non, molestie malesuada orci. Aliquam porttitor cursus quam ultricies sodales. Proin eu elit ac velit porttitor
                            aliquam.</p>

                            <div class="mt-4">
                                <a class="btn btn-primary" href="#" title="">Get Instant Quote</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="../../assets/img/main-banner.png" alt="Banner Image" class="d-block"
                            style="width: 545px" />
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mt-5 pt-5">
                            <h1 class="fs-40 fw-700">
                                Aenean purus quam, vulputate ut accumsan
                            </h1>
                            <p class="fw-600 fs-18">Curabitur ultrices, nisi eu luctus interdum, sapien erat pellentesque ante, et facilisis nunc lorem mollis nisl.
                            Maecenas nec lacinia ipsum. Ut id hendrerit massa.</p>

                            <div class="mt-4">
                                <a class="btn btn-primary" href="#" title="">Get Instant Quote</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="../../assets/img/main-banner.png" alt="Banner Image" class="d-block"
                            style="width: 545px" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>