<footer class="nuo-footer bg-light-gray">
    <div class="container pt-5 pb-4 upper-footer">
        <div class="row">
            <div class="col-md-3">
                <div class="f-head fs-25 fw-600">ABOUT US</div>
                <hr class="bg-gray-4 my-4">
                <div class="foter-widget-content py-3">
                    <p class="fs-17 lh-2-0">Nuo Machining is a reowned Machig company which provide quality maching service all over the world and known for best customer satisfaction.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="f-head fs-25 fw-600">Services</div>
                <hr class="bg-gray-4 my-4">
                <div class="f-head fs-17 py-3"><a href="#" class="black">Injection Molding</a></div>
                <div class="f-head fs-17 py-3"><a href="#" class="black">Mold Making</a></div>
                <div class="f-head fs-17 py-3"><a href="#" class="black">CNC Machining</a></div>
                <div class="f-head fs-17 py-3"><a href="#" class="black">Sheet Metal Fabrication</a></div>
                <div class="f-head fs-17 py-3"><a href="#" class="black">3D Printing</a></div>
            </div>
            <div class="col-md-3">
                <div class="f-head fs-25 fw-600">Resources</div>
                <hr class="bg-gray-4 my-4">
                <div class="f-head fs-17 py-3"><a href="#" class="black">Materials</a></div>
                <div class="f-head fs-17 py-3"><a href="#" class="black">Surface Finishes</a></div>
                <div class="f-head fs-17 py-3"><a href="#" class="black">Our Blog</a></div>
                <div class="f-head fs-17 py-3"><a href="#" class="black">Help Center</a></div>
                <div class="f-head fs-17 py-3"><a href="#" class="black">Privacy Policy</a></div>
            </div>
            <div class="col-md-3">
                <div class="f-head fs-25 fw-600">CONTACT</div>
                <hr class="bg-gray-4 my-4">
                <div class="foter-widget-content ">
                    <div class="line1 py-3 d-flex align-items-center ">
                        <div class="pe-2 ">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="">Phone: +91 995 8247 40</div>
                    </div>
                    <div class="line1 py-3 d-flex align-items-center ">
                        <div class="pe-2 ">
                            <i class="fas fa-fax"></i>
                        </div>
                        <div class="">Fax: +91 995 8247 40</div>
                    </div>
                    <div class="line1 py-3 d-flex align-items-center ">
                        <div class="pe-2 ">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="">Email: <a href="mailto:email@website.com"
                                class="item-email color-white">project@indiamachining.com</a></div>
                    </div>
                    <div class="line1 py-3 d-flex">
                        <div class="pe-2 ">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="">
                            <p class="fs-14"> Address: Noida, Uttar Pradesh, India</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="f-head fs-25">LATEST POSTS</div>
                <hr class="bg-gray-4 my-4">
                <div class="foter-widget-content">


                    <div class="row pt-1 pb-4">
                        <div class="blog-small-img col-4 pr-0">
                            <img class="lazy" alt="Testing Blog"
                                src="https://wordpress-311437-1124939.cloudwaysapps.com/wp-content/uploads/2020/08/banner-2x-300x200.jpg">
                        </div>
                        <div class="blog-title col-8"><a
                                href="https://wordpress-311437-1124939.cloudwaysapps.com/blog/testing-blog/"
                                title="Testing Blog" class=" fs-14">Testing Blog...</a></div>
                    </div>

                    <div class="row pt-1 pb-4">
                        <div class="blog-small-img col-4 pr-0">
                            <img class="lazy" alt="Some Useful Links for You to Get Started"
                                src="https://wordpress-311437-1124939.cloudwaysapps.com/wp-content/uploads/2020/08/banner1x-300x200.jpg">
                        </div>
                        <div class="blog-title col-8"><a
                                href="https://wordpress-311437-1124939.cloudwaysapps.com/blog/welcome-to-cloudways/"
                                title="Some Useful Links for You to Get Started" class=" fs-14">Some Useful
                                Links for You to Get...</a></div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-3">
                <div class="f-head ">EXTRA NAVIGATION</div>
                <hr class="bg-gray-4 my-4">
                <div class="foter-widget-content pt-1">
                    <div class="extra-links">
                        <div class="pb-2"><a href="https://www.3erp.com/faq/" class=" ">FAQ</a></div>
                        <div class="pb-2"><a href="https://www.3erp.com/blog/" class=" ">Blog</a></div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="container py-3 bottom-footer">

    </div>
</footer>