<nav class="navbar navbar-expand-lg py-2 bg-light-gray-xx border-bottom-blue">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <span>
                <img src="./../../assets/img/logo.svg" width="100px" alt="3erp Company Logo">
            </span>
        </a>
        <div class="fw-600 fs-26 purple">
            India's Leading Manufacturing Company <span class="fs-14">(since 2014)</span>
        </div>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav m-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-600" href="#" role="button" data-bs-toggle="dropdown">Services</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item fw-600" href="service.html">Precision CNC Machining</a></li>
                        <li><a class="dropdown-item fw-600" href="manufacturing-technology.html">Rapid Tooling</a></li>
                        <li><a class="dropdown-item fw-600" href="#">Injection Molding</a></li>
                        <li><a class="dropdown-item fw-600" href="#">3D Printing</a></li>
                        <li><a class="dropdown-item fw-600" href="#">Aluminum & Plastic Extrusion</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-600" href="#" role="button" data-bs-toggle="dropdown">Resources</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item fw-600" href="#">Surface Finishes</a></li>
                        <li><a class="dropdown-item fw-600" href="#">Blogs</a></li>
                        <li><a class="dropdown-item fw-600" href="#">Help Center</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-600" href="#" role="button" data-bs-toggle="dropdown">Materials</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item fw-600" href="#">CNC Machining Materials</a></li>
                        <li><a class="dropdown-item" href="#">Plastic CNC Machining</a></li>
                        <li><a class="dropdown-item" href="#">Metal CNC Machining</a></li>
                        <li><a class="dropdown-item fw-600" href="#">Injection Molding Materials</a></li>
                        <li><a class="dropdown-item fw-600" href="#">3D Printing Materials</a></li>
                        <li><a class="dropdown-item fw-600" href="#">Sheet Metal Materials</a></li>
                        <li><a class="dropdown-item" href="#">Aluminum</a></li>
                        <li><a class="dropdown-item" href="#">Stainless Steel</a></li>
                        <li><a class="dropdown-item" href="#">Mild Steel</a></li>
                        <li><a class="dropdown-item" href="#">Copper</a></li>
                        <li><a class="dropdown-item" href="#">Cold Rolled Steel</a></li>
                        <li><a class="dropdown-item" href="#">Galvanized Steel</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-600" href="#" role="button" data-bs-toggle="dropdown">Industries</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item fw-600" href="#">Aerospace</a></li>
                        <li><a class="dropdown-item fw-600" href="#">Automotive</a></li>
                        <li><a class="dropdown-item fw-600" href="#">Medical</a></li>
                        <li><a class="dropdown-item fw-600" href="#">Electronics</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-600" href="about-us.html">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-600" href="contact.html">Contact Us</a>
                </li>
            </ul>
        </div> -->
        <div>
            <a class="btn btn-primary ms-3" type="button">Get Instant Quote</a>
        </div>
    </div>
</nav>