<div class="stats my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="stat-icon-box d-flex bg-light-gray">
                    <div class="stat-icon-icon p-4">
                        <img width="44" src="/assets/img/stat1.png" alt="">
                    </div>
                    <div class="stat-icon-name p-4 text-center">
                        <div class="stat-icon-head fs-36 fw-600">1M +</div>
                        <div class="stat-icon-detail fs-14 fw-600 color-gray-2">Parts Made</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat-icon-box d-flex bg-light-gray">
                    <div class="stat-icon-icon p-4">
                        <img width="44" src="/assets/img/stat2.png" alt="">
                    </div>
                    <div class="stat-icon-name p-4 text-center">
                        <div class="stat-icon-head fs-36 fw-600">300 +</div>
                        <div class="stat-icon-detail fs-14 fw-600 color-gray-2">Customers Served</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat-icon-box d-flex bg-light-gray">
                    <div class="stat-icon-icon p-4">
                        <img width="44" src="/assets/img/stat3.png" alt="">
                    </div>
                    <div class="stat-icon-name p-4 text-center">
                        <div class="stat-icon-head fs-36 fw-600">6000 +</div>
                        <div class="stat-icon-detail fs-14 fw-600 color-gray-2">Unique Designs</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat-icon-box d-flex bg-light-gray">
                    <div class="stat-icon-icon p-4">
                        <img width="44" src="/assets/img/stat4.png" alt="">
                    </div>
                    <div class="stat-icon-name p-4 text-center">
                        <div class="stat-icon-head fs-36 fw-600">1Pcs +</div>
                        <div class="stat-icon-detail fs-14 fw-600 color-gray-2">MOQ</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>