<div class="great-service mb-5">
    <div class="container">
        <div class="row my-4 pb-4">
            <div class="col-md-12">
                <div class="title-container">
                    <h1 class="fs-26 fw-600 text-center"><span class="purple">Great Parts,</span> Seamless Services</h1>
                </div>
                <div class="d-flex justify-content-around mb-3 black">
                    <div class="p-2 px-5 heading-bottom-devider"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="s2-box bg-light-gray mx-3">
                    <div class="s2-box-content p-5">
                        <div class="d-flex">
                            <div class="s2-box-icon pe-4">
                                <img src="/assets/img/s1.png" alt="" width="57px">
                            </div>
                            <div class="s2-box-heading fw-600 fs-25 lh-2-0">
                                Digital <br> Manufacturing
                            </div>
                        </div>
                        <div class="fs-16 py-4 lh-2-0">
                            Curabitur ultrices, nisi eu luctus interdum, sapien erat pellentesque ante, et facilisis nunc lorem mollis nisl. Maecenas nec lacinia ipsum. Ut id hendrerit massa. Aenean purus quam, vulputate ut accumsan in, ornare eget nisi.
                            <br>
                            Nam nec mi augue. Curabitur porta urna eu metus blandit, a tempor ante facilisis. Vivamus ultrices pretium nunc eget
                            ultrices. Nulla in sapien neque. Vestibulum quis lacus tellus.
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="s2-box bg-light-gray mx-3">
                    <div class="s2-box-content p-5">
                        <div class="d-flex">
                            <div  class="s2-box-icon pe-4">
                                <img src="/assets/img/s2.png" alt="" width="57px">
                            </div>
                            <div class="s2-box-heading fw-600 fs-25 lh-2-0">
                                Digital <br> Manufacturing
                            </div>
                        </div>
                        <div class="fs-16 py-4 lh-2-0">
                            Curabitur ultrices, nisi eu luctus interdum, sapien erat pellentesque ante, et facilisis nunc lorem
                            mollis nisl. Maecenas nec lacinia ipsum. Ut id hendrerit massa. Aenean purus quam, vulputate ut accumsan
                            in, ornare eget nisi.
                            <br>
                            Nam nec mi augue. Curabitur porta urna eu metus blandit, a tempor ante facilisis. Vivamus ultrices
                            pretium nunc eget
                            ultrices. Nulla in sapien neque. Vestibulum quis lacus tellus.
                        </div>
                    </div>
            
                </div>
            </div>

            <div class="col-md-4">
                <div class="s2-box bg-light-gray mx-3">
                    <div class="s2-box-content p-5">
                        <div class="d-flex">
                            <div class="s2-box-icon pe-4">
                                <img src="/assets/img/s3.png" alt="" width="57px">
                            </div>
                            <div class="s2-box-heading fw-600 fs-25 lh-2-0">
                                Digital <br> Manufacturing
                            </div>
                        </div>
                        <div class="fs-16 py-4 lh-2-0">
                            Curabitur ultrices, nisi eu luctus interdum, sapien erat pellentesque ante, et facilisis nunc lorem
                            mollis nisl. Maecenas nec lacinia ipsum. Ut id hendrerit massa. Aenean purus quam, vulputate ut accumsan
                            in, ornare eget nisi.
                            <br>
                            Nam nec mi augue. Curabitur porta urna eu metus blandit, a tempor ante facilisis. Vivamus ultrices
                            pretium nunc eget
                            ultrices. Nulla in sapien neque. Vestibulum quis lacus tellus.
                        </div>
                    </div>
            
                </div>
            </div>
        </div>
    </div>
</div>