<div class="how-to-work mb-5">
    <div class="container bg-black">
        <div class="row my-4 pb-4">
            <div class="col-md-12">
                <div class="title-container mt-4">
                    <h1 class="fs-26 fw-600 text-center color-white"><span class="purple">How</span> to work with NUO machining</h1>
                </div>
                <div class="d-flex justify-content-around mb-3 black">
                    <div class="p-2 px-5 heading-bottom-devider-white"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="s3-box mx-3 mb-4">
                    <div class="s3-box-content ">
                        <div class="s3-box-icon pe-2">
                            <img src="/assets/img/u1.png" alt="" width="211px">
                        </div>
                        <div class="fw-600 fs-17 color-white pt-5">
                            Upload Project Design
                        </div>
                        <div class="fs-15 py-4 lh-2-0 color-white">
                            Curabitur ultrices, nisi eu luctus interdum, sapien erat pellentesque ante, et facilisis nunc loremmollis nisl.
                        </div>
                        <div class="pb-4"><a href="#" class="purple">Get a quote</a></div>
                    </div>
            
                </div>
            </div>
            <div class="col-md-3">
                <div class="s3-box mx-3 mb-4">
                    <div class="s3-box-content ">
                        <div class="s3-box-icon pe-2">
                            <img src="/assets/img/u2.png" alt="" width="211px">
                        </div>
                        <div class="fw-600 fs-17 color-white pt-5">
                            Upload Project Design
                        </div>
                        <div class="fs-15 py-4 lh-2-0 color-white">
                            Curabitur ultrices, nisi eu luctus interdum, sapien erat pellentesque ante, et facilisis nunc
                            loremmollis nisl.
                        </div>
                        <div class="pb-4"><a href="#" class="purple">Get a quote</a></div>
                    </div>
            
                </div>
            </div>
            <div class="col-md-3">
                <div class="s3-box mx-3 mb-4">
                    <div class="s3-box-content ">
                        <div class="s3-box-icon pe-2">
                            <img src="/assets/img/u3.png" alt="" width="211px">
                        </div>
                        <div class="fw-600 fs-17 color-white pt-5">
                            Upload Project Design
                        </div>
                        <div class="fs-15 py-4 lh-2-0 color-white">
                            Curabitur ultrices, nisi eu luctus interdum, sapien erat pellentesque ante, et facilisis nunc
                            loremmollis nisl.
                        </div>
                        <div class="pb-4"><a href="#" class="purple">Get a quote</a></div>
                    </div>
            
                </div>
            </div>
            <div class="col-md-3">
                <div class="s3-box mx-3 mb-4">
                    <div class="s3-box-content ">
                        <div class="s3-box-icon pe-2">
                            <img src="/assets/img/u4.png" alt="" width="211px">
                        </div>
                        <div class="fw-600 fs-17 color-white pt-5">
                            Upload Project Design
                        </div>
                        <div class="fs-15 py-4 lh-2-0 color-white">
                            Curabitur ultrices, nisi eu luctus interdum, sapien erat pellentesque ante, et facilisis nunc
                            loremmollis nisl.
                        </div>
                        <div class="pb-4"><a href="#" class="purple">Get a quote</a></div>
                    </div>
            
                </div>
            </div>
            
        </div>
    </div>
</div>