<div class="services">
    <div class="container py-5 mt-3">
        <div class="row my-4 pb-4">
            <div class="col-md-12">
                <div class="title-container">
                    <h1 class="fs-26 fw-600 text-center">Our Services</h1>
                </div>
                <div class="content-text text-center">
                    Nam ex ex, blandit in turpis non, molestie malesuada orci. Aliquam porttitor cursus quam ultricies sodales. Proin eu
                    elit ac velit porttitor aliquam.
                </div>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-md-3 mb-5">
                <div class="service-box bg-light-gray">
                    <div class="service-box-img">
                        <img src="/assets/img/service1.webp" alt="" width="100%">
                    </div>
                    <div class="service-box-text px-4">
                        <div class="fs-25 fw-600 py-5">Injection Molding</div>
                        <div class="fs-17 lh-2-0">Nulla metus arcu, ultricies eget felis a, luctus ultricies tortor. Donec suscipit tempus neque, et placerat felis
                        lobortis id. Curabitur efficitur leo sed enim congue luctus.</div>
                        <div class="py-4"><a href="#" class="purple">Learn More</a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-5">
                <div class="service-box bg-light-gray">
                    <div class="service-box-img">
                        <img src="/assets/img/service1.webp" alt="" width="100%">
                    </div>
                    <div class="service-box-text px-4">
                        <div class="fs-25 fw-600 py-5">Injection Molding</div>
                        <div class="fs-17 lh-2-0">Nulla metus arcu, ultricies eget felis a, luctus ultricies tortor. Donec suscipit
                            tempus neque, et placerat felis
                            lobortis id. Curabitur efficitur leo sed enim congue luctus.</div>
                        <div class="py-4"><a href="#" class="purple">Learn More</a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-5">
                <div class="service-box bg-light-gray">
                    <div class="service-box-img">
                        <img src="/assets/img/service1.webp" alt="" width="100%">
                    </div>
                    <div class="service-box-text px-4">
                        <div class="fs-25 fw-600 py-5">Injection Molding</div>
                        <div class="fs-17 lh-2-0">Nulla metus arcu, ultricies eget felis a, luctus ultricies tortor. Donec suscipit
                            tempus neque, et placerat felis
                            lobortis id. Curabitur efficitur leo sed enim congue luctus.</div>
                        <div class="py-4"><a href="#" class="purple">Learn More</a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-5">
                <div class="service-box bg-light-gray">
                    <div class="service-box-img">
                        <img src="/assets/img/service1.webp" alt="" width="100%">
                    </div>
                    <div class="service-box-text px-4">
                        <div class="fs-25 fw-600 py-5">Injection Molding</div>
                        <div class="fs-17 lh-2-0">Nulla metus arcu, ultricies eget felis a, luctus ultricies tortor. Donec suscipit
                            tempus neque, et placerat felis
                            lobortis id. Curabitur efficitur leo sed enim congue luctus.</div>
                        <div class="py-4"><a href="#" class="purple">Learn More</a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-5">
                <div class="service-box bg-light-gray">
                    <div class="service-box-img">
                        <img src="/assets/img/service1.webp" alt="" width="100%">
                    </div>
                    <div class="service-box-text px-4">
                        <div class="fs-25 fw-600 py-5">Injection Molding</div>
                        <div class="fs-17 lh-2-0">Nulla metus arcu, ultricies eget felis a, luctus ultricies tortor. Donec suscipit
                            tempus neque, et placerat felis
                            lobortis id. Curabitur efficitur leo sed enim congue luctus.</div>
                        <div class="py-4"><a href="#" class="purple">Learn More</a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-5">
                <div class="service-box bg-light-gray">
                    <div class="service-box-img">
                        <img src="/assets/img/service1.webp" alt="" width="100%">
                    </div>
                    <div class="service-box-text px-4">
                        <div class="fs-25 fw-600 py-5">Injection Molding</div>
                        <div class="fs-17 lh-2-0">Nulla metus arcu, ultricies eget felis a, luctus ultricies tortor. Donec suscipit
                            tempus neque, et placerat felis
                            lobortis id. Curabitur efficitur leo sed enim congue luctus.</div>
                        <div class="py-4"><a href="#" class="purple">Learn More</a></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>